:root {
  --red-color: hsl(9, 100%, 64%);
  --green-color: hsl(147, 50%, 50%);
}

.wrongAnsweredQn {
  background-color: hsl(9, 100%, 64%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */

}

.correctAnsweredQn,
.wrongAnsweredQn {
  margin: 5px 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.correctAnsweredQn {
  background-color: hsl(147, 50%, 50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

}

.wrong-option {
  background-color: hsl(9, 100%, 46%);
}

.correct-option {
  background-color: hsl(147, 50%, 30%);
}

.none-option {
  background-color: hsl(9, 100%, 26%);
}

.answer-explanation {
  background-color: white;
}
