*{
box-sizing: border-box;
  margin:0;
  padding:0;
}
.no-qn-mes{
  display: block;
  text-align: center;
  color: tomato;
}
#add{
  display:none;
}
div #question-container{
  font-size: 2rem;
}
label{
  font-size: 1.25rem;
  font-weight: bold;

}
section{
  margin:1em;
}
/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light background color */
  color: #333; /* Dark text color */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Quiz container styles */
#quiz-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White background color */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Question container styles */
.question-container {
  margin-bottom: 20px;
}

.question {
  font-weight: bold;
}

/* Options container styles */
.options-container {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0; /* Light background color on hover */
}

/* Result container styles */
.result-container {
  margin-top: 20px;
  font-weight: bold;
}

.result {
  margin-bottom: 10px;
}

.correct-answer {
  color: green; /* Green color for correct answer */
}

.wrong-answer {
  color: red; /* Red color for wrong answer */
}

/* General styles */
body {
  font-family: 'Arial', sans-serif;
}

/* Quiz container styles */
#quiz-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Options container styles */
.options-container {
  display: flex;
  flex-direction: column;
}

/* Result container styles */
.result-container {
  margin-top: 20px;
  font-weight: bold;
}

/* Answer option styles */
.correct-option {
  background-color:#b1ff99;
  border-radius: 0.25em;
  padding: 2px;
  margin:0.15em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


}


.wrong-option {
  background-color:#ff8080;/* Darker color for wrong option */
 border-radius: 0.25em;
  padding: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin:0.15em;
}

.none-option {
  background-color:#ffcccc; /* Darker color for no option */
 border-radius: 0.25em;
  padding: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin:0.15em;
}

/* Answer explanation styles *, .correct-answer/
.answer-explanation {
  background-color: white;
}

/* Additional custom styles */
.question {
  display: none;
}
.card{
  width:80%;
  max-width:50em;
  border-radius:0.5em;
  margin: 0.25em;
  padding:0.5em;
}
.result-container, .correct-answer{
  display:flex;
  flex-direction:column;
  align-items:center;
  color:black;
}
.wrongAnsweredQn{
  background-color:#ffb3b3;
 border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.correctAnsweredQn{
background-color:#ecffe6;
 border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.answer-explanation{
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white color */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
button{
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin:0.5em auto;
}
input[type='radio']{
  cursor:pointer;
  scale: 2;
  margin: 0 1rem;
}
h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.select-option{
background-color: #333;
  color: white;
  border: 0;
  padding: 10px;
  font-size: 1.25em;
  margin: 1.25rem;
}

.select-options-div{

padding: 1.25em;
  display: flex;
  justify-content: center;

}
.container {
       /* display: grid; */
        place-items: center;
        min-height: 100vh;
    }

    .table-container {
        display: grid;
        place-items: center;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table th,
    .table td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tr:hover {
        background-color: #e1e1e1;
    }

    .table-controls {
        display: flex;
        gap: 10px;
    }
#blur{
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(1px);
  position:absolute;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: auto; 
  top:0;
}
.btn-open-popup { 
            padding: 12px 24px; 
            font-size: 18px; 
            background-color: green; 
            color: #fff; 
            border: none; 
            border-radius: 8px; 
            cursor: pointer; 
            transition: background-color 0.3s ease; 
        } 
  
        .btn-open-popup:hover { 
            background-color: #4caf50; 
        } 
  
        .overlay-container { 
            display: none; 
            position: fixed; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            background: rgba(0, 0, 0, 0.6); 
            justify-content: center; 
            align-items: center; 
            opacity: 0; 
            transition: opacity 0.3s ease; 
        } 
  
    
  
        .form-container { 
            display: flex; 
            flex-direction: column; 
        } 
  
        .form-label { 
            margin-bottom: 10px; 
            font-size: 16px; 
            color: #444; 
            text-align: left; 
        } 
  
        .form-input { 
            padding: 10px; 
            margin-bottom: 20px; 
            border: 1px solid #ccc; 
            border-radius: 8px; 
            font-size: 16px; 
            width: 100%; 
            box-sizing: border-box; 
        } 
  
        .btn-submit, 
        .btn-close-popup { 
            padding: 12px 24px; 
            border: none; 
            border-radius: 8px; 
            cursor: pointer; 
            transition: background-color 0.3s ease, color 0.3s ease; 
        } 
  
        .btn-submit { 
            background-color: green; 
            color: #fff; 
        } 
  
        .btn-close-popup { 
            margin-top: 12px; 
            background-color: #e74c3c; 
            color: #fff; 
        } 
  
        .btn-submit:hover, 
        .btn-close-popup:hover { 
            background-color: #4caf50; 
        } 
  
        /* Keyframes for fadeInUp animation */ 
        @keyframes fadeInUp { 
            from { 
                opacity: 0; 
                transform: translateY(20px); 
            } 
  
            to { 
                opacity: 1; 
                transform: translateY(0); 
            } 
        } 
  
        /* Animation for popup */ 
        .overlay-container.show { 
            display: flex; 
            opacity: 1; 
        } 



/* overlay form style */  

/* Overlay container to cover the entire screen */
/*
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
}*/
/* Show overlay when active */
.overlay-container.active {
  visibility: visible;
}
.selected-sem-sub  {
font-size: 1.25em;
  font-weight: 900;
  color: #555;
  margin: 2em 0;
}
.
#selected-sub-span #selected-sem-span {
  color: #333;
}
/* Popup box styling */
.popup-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: 90%;
  text-align: left;
}

/* Header styling */
.popup-box h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Label styling */
.popup-box label {
  color: #555;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input and textarea styling */
.popup-box input[type="text"],
.popup-box textarea {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Button styling */
.popup-box button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.popup-box button:hover {
  background-color: #218838;
}

/* Close button styling */
.popup-box .btn-close-popup {
  background-color: #dc3545;
  margin-left: 10px;
}

/* Close button hover effect */
.popup-box .btn-close-popup:hover {
  background-color: #c82333;
}

/* quiz question style */ 
#quiz-container{
background-color:#e6fdff;
 border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.option {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 11px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
