
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1,
p {
  text-align: center;
}

.form-container {
  max-width: 900px; /* Adjust the max-width for wide displays */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 1rem 0;
  border-bottom: 3px solid #ccc;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
textarea {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  color: #333;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#submit {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2.5em;
  font-size: 1.1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#submit:hover {
  background-color: #555;
}
input[type="file"] {
  padding: 1px 2px;
}

.inline {
  display: inline;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns for wide screens */
    column-gap: 20px;
  }
  .flex-sidebar{
    display:block;
  }

  fieldset {
    border-bottom: none; /* Remove bottom border in two-column layout */
  }

  label {
    margin-bottom: 15px;
  }

  button {
    grid-column: span 2; /* Make the button span across both columns */
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    display: block; /* Stack fields in a single column for small screens */
  }
  

  header {
    display: block; /* Ensure the header is shown on small screens */
  }
}
